@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');

@layer base {
    body {
        @apply font-[Raleway];
    }

    li {
        @apply px-4;
        @apply cursor-pointer;
    }
}

@layer components {
    .links {
        @apply rounded-lg text-center text-lg font-bold px-4 py-3 m-2 border-2 hover:bg-yellow hover:border-yellow hover:text-dark transition duration-300;
    }
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0px;
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(to right, rgba(112, 157, 255, .8), hsla(242, 74%, 61%, .8)) !important;
}